<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      lang="en">
  <h:head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />	
    <meta name="description" content="${description}"/>
    <meta name="keywords" content="${keywords}" />
    <title>${title}</title>


  </h:head>
  <h:body>
  	<h:outputStylesheet library="css" name="layout.css" />
  	<h:outputStylesheet library="css" name="global.css" />
  	
  	<div id="header-container">
  		<header id="header">
  			<p:tabMenu activeIndex="${activeIndex}">
  				<p:menuitem value="calculate BMI" url="/pages/calculateBMI.xhtml" icon="ui-icon-document" />
  				<p:menuitem value="calculate Loan Payment" url="/pages/calculateLoanPayment.xhtml" icon="ui-icon-document" />
  				
  			</p:tabMenu>
  			<h1>${title}</h1>
  		</header>	
  	<!-- end #header-container -->	
  	</div>

  	<div id="content-container">
  		<div id="content" >
			<ui:insert name="content">
			
			</ui:insert>
  		<!-- end #content -->	
  		</div>
    <!-- end #content-container -->    
  	</div>
 	<div id="footer-container">
 		<footer id="footer" >
 			No copyright. No rights reserved.
 		</footer>	
 	<!-- end #footer-container -->	
 	</div>
  </h:body>
</html>


