<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      lang="en">
  <h:head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />	
    <meta name="description" content="${description}"/>
    <meta name="keywords" content="${keywords}" />
    <title>${title}</title>
	<style>	
.ui-widget {
	font-size: 80%;
}
	
.calendar input {
	width: 150px;
	margin: -50px;
}	
	</style>

  </h:head>
  <h:body>
  	
<h:form>  		
	<p:layout fullPage="true">
		<p:layoutUnit position="north" height="100" minHeight="50" maxHeight="150" >
			<h1>DMIT221 Lab1-ChenYang - ${title}</h1>
		</p:layoutUnit>
		
		
		<p:layoutUnit position="west" minSize="250">
			<p:panelMenu>
				<p:submenu label="Pages">
					<p:menuitem value="calculate BMI" url="/pages/calculateBMI.jsf" icon="ui-icon-document" />
  				<p:menuitem value="calculate Loan Payment" url="/pages/calculateLoanPayment.jsf" icon="ui-icon-document" />
  				
				</p:submenu>
				
			</p:panelMenu>
		</p:layoutUnit>

		<p:layoutUnit position="center" id="center">
			<ui:insert name="content">
				<h2>This is a placeholder for content.</h2>			
			</ui:insert>
		</p:layoutUnit>		
		
		

		<p:layoutUnit position="south" height="50" >
			  No copyright. No rights reserved.  This website was developed by <a href="mailto:yourname@email.com">Your Name</a> for an academic research project.
		</p:layoutUnit>
		
	</p:layout>
</h:form>
	
  </h:body>
</html>

