<!DOCTYPE html>
	
	<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui">
		
	<ui:composition template="/WEB-INF/templates/page_template.xhtml">
	<ui:param name="title" value="Caclulate BMI" />
	<ui:param name="activeIndex" value="1" />
	<ui:define name="content">
	
	<!-- The f:view element is required to get certain components to work with webkit based browsers
	(Google Chrome and Safari) -->
	
	
	<h:head>
		<!-- Add support for <meta>, <link>, and <scripts> here -->
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<!-- Change the title of this document!!! -->
		<title>BMI Calculator</title>
		
	</h:head>
	
	<h:body>
		<!-- Add your content here -->
		<h1>BMI Calculator</h1>
		<h:form>
				<p:messages id="messages"/>	
					<h:panelGrid columns="2" styleClass="verticalColumnStyle" >
						<p:outputLabel for="weight" value="Weight:"></p:outputLabel>
						<h:panelGrid columns="1" styleClass="verticalColumnStyle" >
							<p:inputText id="weight" value = "#{bmiBean.bmi.weight}"></p:inputText>
						</h:panelGrid>
						
						<p:outputLabel for="heightFeet" value="Height:"></p:outputLabel>
						<h:panelGrid columns="4" styleClass="verticalColumnStyle" >
							<p:inputText id="heightFeet" value ="#{bmiBean.bmi.heightFeet}" size="2"></p:inputText>
							feet
							<p:inputText id="heightInches" value="#{bmiBean.bmi.heightInches}" size="2"></p:inputText>
							inches
						</h:panelGrid>
						
						<h:outputText> a</h:outputText>
						<h:panelGrid columns="1" styleClass="verticalColumnStyle" >
							<p:commandButton value="Calculate" ajax="false" update="messages" actionListener="#{bmiBean.calculateBMI}"></p:commandButton>
						</h:panelGrid>
	
				</h:panelGrid>
		
		
		</h:form>
		<!-- End of content area -->
	</h:body>
	</ui:define>
	</ui:composition>
	</html>