<!DOCTYPE html>
	
	<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui">
		
		<ui:composition template="/WEB-INF/templates/page_template.xhtml">
	<ui:param name="title" value="Calculate Loan Payment" />
	<ui:param name="activeIndex" value="2" />
	<ui:define name="content">
	
	<!-- The f:view element is required to get certain components to work with webkit based browsers
	(Google Chrome and Safari) -->

	
	<h:head>
		<!-- Add support for <meta>, <link>, and <scripts> here -->
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<!-- Change the title of this document!!! -->
		<title>Calculate Loan Payment</title>
		
	</h:head>
	
	<h:body>
		<!-- Add your content here -->
		<h1>Loan Payment Calculator</h1>
		<h:form>
				<p:messages id="messages"/>	
				<h:panelGrid columns="3" styleClass="verticalColumnStyle">
					<p:outputLabel for="mortgageAmount" value="Mortgage Amount:"></p:outputLabel>
					<p:inputText id="mortgageAmount" value = "#{loanBean.currentLoan.mortgageAmount}"></p:inputText>
					<h:outputText></h:outputText>
					
					<p:outputLabel for="interestRate" value="Interest Rate:"></p:outputLabel>
					<p:inputText id="interestRate" value = "#{loanBean.currentLoan.annualInterestRate}"></p:inputText>
					<p:outputLabel for="interestRate" value="%"/>
					
					<p:outputLabel for="amortization" value="Amortization:"></p:outputLabel>
					<p:inputText id="amortization" value = "#{loanBean.currentLoan.amortizationPeriod}"></p:inputText>
					<p:outputLabel for="amortization" value="yrs"/>
					
					<h:outputText></h:outputText>
					<p:commandButton value="Calculate" ajax="false" update="messages,mortgageAmount,interestRate,amortization" actionListener="#{loanBean.calculatePayment}"></p:commandButton>
				</h:panelGrid>
				      <p:barChart id="basic" value="#{loanBean.categoryModel}" legendPosition="ne"  
                title="Basic Bar Chart" min="0" max="250000" style="height:300px"/> 
		
		
		</h:form>
		
		
		
		<!-- End of content area -->
	</h:body>
	</ui:define>
	</ui:composition>
	

	
	</html>